name: CI

on:
  push:
  pull_request:

jobs:
  coverage:
    name: Coverage for ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - uses: Swatinem/rust-cache@v2
        with:
          key: coverage-cargo-${{ matrix.os }}
        continue-on-error: true
      - name: Setup virtual environment
        run: |
          uv sync
      - name: Run coverage
        run: |
          source <(cargo llvm-cov show-env --export-prefix)
          export CARGO_TARGET_DIR=$CARGO_LLVM_COV_TARGET_DIR
          export CARGO_INCREMENTAL=1
          cargo llvm-cov clean --workspace
          cargo test
          uv run -- maturin develop --uv
          uv run -- pytest tests --cov=foobar --cov-report xml
          cargo llvm-cov report --lcov --output-path coverage.lcov
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.lcov,coverage.xml
          name: ${{ matrix.os }}
